/*
  ___ _  __            _   
 | _ |_)/ _|_ _ ___ __| |_ 
 | _ \ |  _| '_/ _ (_-<  _|
 |___/_|_| |_| \___/__/\__|

 Bifrost - Mqtt Pong Settings 

 Configurações para o funcionamento correto do teste ping-pong mqtt

*/

#pragma once

// --- Configurações de Wi-Fi ---
const char* WIFI_SSID     = "ssid";
const char* WIFI_PASSWORD = "password";

// --- Configurações do Broker MQTT ---
const char* MQTT_BROKER = "ip";
const int MQTT_PORT     = 1883;